<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.ChatTestMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.ChatTest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_my_you" property="isMyYou" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="view_state" property="viewState" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="send_time_String" property="sendTimeString"/>
    <!--用户表关系映射-->
    <association property="sendUser" select="cn.bdqn.mapper.UserMapper.selectByPrimaryKey" column="send_user_id"/>
    <!--用户表关系映射-->
    <association property="receptionUser" select="cn.bdqn.mapper.UserMapper.selectByPrimaryKey" column="reception_user_id"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_my_you, send_user_id, reception_user_id, message, send_time, view_state, state,send_time_String
  </sql>

<!--  查询聊天记录-->
  <select id="selectByChatTest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_chat_test
    where ((send_user_id = #{sendUserId}
    AND reception_user_id = #{receptionUserId})
     OR  (send_user_id = #{receptionUserId}
     AND reception_user_id = #{sendUserId}))
     AND state = 0
    ORDER BY send_time
  </select>

<!--  查询用户未读消息-->
  <select id="selectViewState" resultType="java.lang.Integer">
    select
    count(id)
    from t_chat_test
    where ((send_user_id = #{sendUserId}
    AND reception_user_id = #{receptionUserId})
    OR  (send_user_id = #{receptionUserId}
    AND reception_user_id = #{sendUserId}))
    AND state = 0 and view_state = 1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_chat_test
    where id = #{id,jdbcType=INTEGER}
  </select>
<!--添加-->
  <insert id="insert" parameterType="cn.bdqn.domain.ChatTest" >
    insert into t_chat_test (id, is_my_you, send_user_id, 
      reception_user_id, message, send_time, 
      view_state, state,send_time_String)
    values (#{id,jdbcType=INTEGER}, #{isMyYou,jdbcType=INTEGER}, #{sendUser.id,jdbcType=INTEGER},
      #{receptionUser.id,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP},
      #{viewState,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},#{sendTimeString})
  </insert>



  <update id="updateViewState" >
    update t_chat_test
    set
      view_state = 0
    where ((send_user_id = #{sendUserId}
    AND reception_user_id = #{receptionUserId})
    OR  (send_user_id = #{receptionUserId}
    AND reception_user_id = #{sendUserId}))
  </update>
</mapper>